<div class="row">
    <div class="col-lg-12 col-xxxl-12">
        <!-- Projects Progress -->
        <app-projects-progress></app-projects-progress>
    </div>

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <!-- Projects Analysis -->
                <app-projects-analysis></app-projects-analysis>
            </div>
            <div class="col-lg-6">
                <!-- Chat Project User -->
                <app-project-age></app-project-age>
            </div>
        </div>
    </div>
</div>
