<div class="row">
    <h3 style="text-align: center">Campaign Sales</h3>

    <div class="col-lg-12 col-xxxl-3">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <!-- Total Orders -->
                <app-total-orders></app-total-orders>
            </div>
            <div class="col-md-4 col-lg-4">
                <!-- Total Customers -->
                <app-total-customers></app-total-customers>
            </div>
            <div class="col-md-4 col-lg-4">
                <!-- Total Customers -->
                <app-total-revenue></app-total-revenue>
            </div>
        </div>
    </div>
    <h4 style="text-align: center">Option Sales Breakdown</h4>
    <div class="col-lg-12 col-xxxl-3">
        <div class="row">
            <div class="col-md-12 col-xxxl-12">
                <app-all-projects></app-all-projects>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xxxl-6">
        <!-- Total Sales -->
        <app-total-sales></app-total-sales>
    </div>
</div>
